@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;&display=swap");

$lato: "Lato", sans-serif;

$yellow: #fbcb23;
$light-gray: #858585;
$dark-gray: #26272b;
$white: #ffffff;
$black: #000000;
